/* reset css */
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
  padding: 0px;
}

ul,
ol,
li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  display: block;
}

.btn,
button,
button:focus,
input:focus,
textarea:focus,
select,
select:focus,
a:focus {
  outline: 0px !important;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

button[disabled] {
  pointer-events: none;
}

input {
  padding: 0;
}

input:required {
  box-shadow: none;
}

input:invalid {
  box-shadow: none;
}

$body-bg: #ffffff;
$body-dark-bg: #121212;
$white: #fff;
$text-black: #2a2a2a;
$second-black: #333333;
$main-btn: #f67599;
$main-gary: #f0f0f5;
$second-gary: #afb1bd;
$text-gray: #808080;
$cart-border: #f0f0f5;
$input-border: #4a4a4a;

$sizes: (
  25: 25%,
  50: 50%,
  75: 75%,
  100: 100%
);

$spacer: 1rem;
$spacers: (
  0:0,
  1: (
    $spacer * 0.25
  ),
  2: (
    $spacer * 0.5
  ),
  3: (
    $spacer * 0.75    
  ),
  4: $spacer,
  5: (
    $spacer * 1.25
  ),
  6: (
    $spacer * 1.5
  ),
  7: (
    $spacer * 1.75
  ),
  8: (
    $spacer * 2
  )
);

.d-none {
  display: none;
}

.d-inline {
  display: inline;
}


.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.align-content-start {
  align-content: flex-start;
}

.align-content-end {
  align-content: flex-end;
}

.align-content-center {
  align-content: center;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-end {
  align-items: flex-end;
}

.align-items-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.cursor-pointer {
  cursor: pointer;
}

// style start
body {
  background-color: $body-bg;
}

.header {
  width: 375px;
  height: 56px;
  .navbar {
    width: 100%;
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $body-bg;
    z-index: 999;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 30px;
    .navbar-list {
      display: none;
    }
    .navbar-btn {
      grid-column: 1 / 2;
      position: relative;
      &::after {
        content: '';
        position: absolute;
        background-image: url(./Vector.png);
      }
      
    }
    .logo {
      height: 56px;
      grid-column: 2 / 3;

      img {
        height: 24px;
        object-fit:contain;
      }
    }
    .navbar-icons {
      display: none;
    }
  }
}

.main {
    width: 100%;
    h3 {
        font-size: 1.5rem;
        line-height: 38px;
        margin-bottom: 1.5rem;
        margin-left: 10%;
      }
    .stepper-panel {
      width: 80%;
      margin: 0 auto;
      margin-bottom: 1.5rem;
      
      .stepper-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        position: relative;
      }
      .step {
        text-align: center;
        &:nth-child(1) .circle-container::after {
          content: "1";
        }
      
        &:nth-child(2) .circle-container::after {
          content: "2";
        }
      
        &:nth-child(3) .circle-container::after {
          content: "3";
        }
      }

      .circle-container::after {
        color: $second-gary;
        vertical-align: sub;
      }
      .circle-container {
        height: 32px;
        width: 32px;
        border:1px solid $second-gary;
        border-radius: 50%;
        margin: 0 auto;
      }
      .label-container {
        display: none;
      }
      .connect-line {
        display: block;
        height: 3px;
        position: absolute;
        background-color: $main-gary;
        top: 50%;
        right: calc(50% - 120px);
        left: calc(-50% + 180px);
      }
      .active .connect-line{
        background-color: $text-black;
      }
      .active .circle-container {
        background-color: $text-black;
        &::after {
          color: #fff;
        }
      }
    }
    .first-form {
      width: 80%;
      margin: 0 auto;
      h4 {
        font-size: 1.5rem;
      }
      & .form-content {
        display: grid;
        grid-template-columns: 1fr;
        .first-row {
          display: flex;
          justify-content: space-between;
          gap: 30px;
          .gender {
            flex: 0 1 40%;
          }
          .name {
            flex: 1 0 60%;
          }
        }
        .form-row {
          grid-column: 1 / 2;
        }
        .form-item {
          display: flex;
          flex-flow: column;
          label {
            font-size: 0.75rem;
            font-weight: 600;
            color: $text-gray;
          }
          input, select {
            height: 40px;
            width: 100%;           
            border: 1px solid $input-border;
            border-radius: 4px;
            margin-bottom: 2rem;
          }
          select {
            -webkit-appearance: none;
            padding-left: 1rem;
          }
        }
      }
    }
    .second-form {
      width: 80%;
      margin: 0 auto;
      h4 {
        font-size: 1.5rem;
      }
      & .form-content {
        display: grid;
        grid-template: auto / 1fr;
        .radio-wrapper {
          grid-column: 1 / 2;
          border: 1px solid $cart-border;
          height: 60px;
          border-radius: 4px;
          display: flex;
          align-items: center;
          margin-bottom: 2rem;
          padding: 0 20px;
          .deliver {
            margin-left: 20px;
          }
          .radio-title {
            font-size: 14px;
          }
          .radio-date {
            font-size: 12px;
          }
          .radio-price {
            font-size: 12px;
            flex: 1 0 50%;
            text-align: end;
          }
        }
      }
    }
    .third-form {
      width: 80%;
      margin: 0 auto;
      h4 {
        font-size: 1.5rem;
      }
      & .form-content {
        display: grid;
        grid-template: auto / 1fr;
        & .form-row {
          display: flex;
          flex-direction: column;
        }
        & .last {
          flex-direction: row;
          justify-content: space-between;
          gap: 30px;

        }
        .form-item {
          display: flex;
          flex-direction: column;
          flex: 1 0;
        }
        label {
          font-size: 0.75rem;
          font-weight: 600;
          color: $text-gray
        }
        input {
          height: 40px;
          outline: none;
          border: 1px solid $text-black;
          border-radius: 4px;
        }
      }
    }
    .cart-panel {
      width: 80%;
      margin: 0 auto;
      border: 1px solid $main-gary;
      border-radius: 8px;
      padding: 1rem;
      margin-bottom: 2rem;
      h4 {
        font-size: 1.12rem;
        display: none;
      }
      .cart-item {
        display: flex;
        margin-bottom: 1rem;
        justify-content: space-between;
        & .product-image {
          height: 100px;
          width: 100px;
          img {
            object-fit: cover;
          }
        }
        & .cart-item-control {
          height: 100px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          p {
            font-size: 1rem;
            line-height: 1.5;
          }
          .cart-title {
            letter-spacing: .1rem;
            flex-grow: 1;
          }
          & .cart-btn {
            text-align: end;
            flex-grow: 1;
          }
          .cart-btn button {
            width: 26px;
            height: 27px;
            background-color: $main-gary;
            border-radius: 50%;            
          }
          .cart-price {
            flex-shrink: 1;
            text-align: end;
            line-height: 1.3;
            vertical-align: bottom;
            font-weight: 600;
          }

        }
      }
      .delivery-charge,
      .total {
        height: 52px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid $main-gary;
        border-bottom: 1px solid $main-gary;
        & .point {
          font-weight: 600;
        }
      }
    }
    .btn-section {
      width: 80%;
      margin: 0 auto;
      display: flex;
      button {
        flex: 1 0 50%;
        font-size: .8rem;
        padding: 11px 39px;
      }
      .next-step {
        background-color: $main-btn;
        border-radius: 8px;
        position: relative;
      }
      .back-step {
        text-align: start;
      }
    }
}

@media screen and (min-width: 375px) {
  .header {
    width: 100%;
  }
  .main{
    min-width: 800px;
    h3 {
        margin-left: 14.5%;
      }
  } 
  .row {
    width: 80%;
    min-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-rows: 100px .5fr 50px;
    grid-auto-flow: column;
    grid-gap: 20px 5%;
    min-height: 100vh;
    .stepper-panel {
      grid-column: 1 / 8;
      margin-bottom: 1rem;
      .stepper-container::before {
          // left: 25%;
          // width: 10%;
          // top: 50%;

        left: calc(50% - 20px);
        }
      
      .stepper-container::after {
        position: absolute;
        display: block;
        left: calc(50% - 130px);
        top: 50%;
      }
      .step{
        display: flex;
        gap: 8px;
        align-items: center;
        position: relative;
        .label-container {
          display: block;
          font-size: 1rem;
        }
      }
    }
    .form-panel {
      grid-column: 1 / 8;
      grid-row: 2 / 3;
     
      .first-form {
        border-bottom: 1px solid #000;
      }
      &.form-content {
        
        grid-template-columns: repeat(6, 1fr);
        grid-gap:0 30px;
        display: none;
        .first-row {
          grid-column: 1 / 7;
        }
        .second-row {
          grid-column: 1 / 4;        
        }
        .third-row {
          grid-column: 4 / 7;
        }
        .fourth-row {
          grid-column: 1 / 3;
        }
        .fifth-row {
          grid-column: 3 / 7;
        }
      }
      .second-form {
        border-bottom: 1px solid $main-gary;
        h4 {
          margin-bottom: 1.5rem;
        }
      }
      .third-form {
        border-bottom: 1px solid $main-gary;
        h4 {
          margin-bottom: 1.5rem;
        }
        & .form-content {
          & .form-row {
              width: 350px;
              margin-bottom: 1.5rem;
            }
          & .last {
            width: 100%;
          }
        }
      }
    }
    .cart-panel {
      grid-column: 8 / 13;
      grid-row: 1 / 4;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      gap: 2rem;
      height: 100%;
      h4 {
        display: block;
      }
      .delivery-charge,
      .total {
        border-bottom: 0px;
      }
    }
    .btn-section {
      grid-column: 1 / 8;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      .next-step {
        grid-column: 2 / 3;
      }
    }
  }
}

